<header class="header-nav">
<h1>Navima</h1>
 <nav><a href="/">Home</a></nav>
 <nav><a href="/post/spots">おすすめスポット</a></nav>
 <nav><a href="/post/information">アイスランドを楽しむ</a></nav>
<nav><a href="/users/sign_in">みんなのレビュー</a></nav>
</header>
<br>
<br>
<br>
<br>

<div class="backcround">

  <p class="info-title">
   Comming Soon
  </p>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/information/johannes-groll-253834-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Aurora</h5>
      <p class="card-text">.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/information/jonatan-pie-189473-unsplash (1).jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Wildlife</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/information/jon-flobrant-230583-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Driving</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
</div>

<br>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="/assets/information/chris-lawton-29911-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Hot-spring</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/information/jordan-heinrichs-390955-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">For backpacker</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/assets/information/annie-spratt-256172-unsplash.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tour</h5>
      <p class="card-text"></p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">詳細</a>
    </div>
  </div>
  <br>
  <br>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="/assets/information/jon-flobrant-49794-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Art</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">詳細</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/information/zachrie-friesen-178358-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Music</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">詳細</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/information/ihor-malytskyi-381912-unsplash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Camping</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-primary">詳細</a>
      </div>
    </div>
  <br>
  <br>


</div>


</div>

<footer>
<p>Copyright © Yusuke Yoshitomi All Rights Reserved.</p>
</footer>
