
<%= stylesheet_link_tag "post/spots", :media => "all" %>

<header class="header-nav">
<h1>Navima</h1>
 <nav><a href="/">Home</a></nav>
 <nav><a href="/post/spots">おすすめスポット</a></nav>
 <nav><a href="/post/information">アイスランドを楽しむ</a></nav>
<nav><a href="/users/sign_in">みんなのレビュー</a></nav>
</header>


<br>
<br>



 <!--   Second block Start   -->
 <section id="first-block">
    <p class="title">
      おすすめスポット
    </p>
    <div class="spot-container">
        <p class="spot-name">
          <span>ケプラヴィーク国際空港<br>Keflavík International Airport</span>
          <br>
          <br>
          アイスランド唯一の国際空港。<br>
          首都レイキャヴィークまではここからバスかタクシーで移動できます。<br>
          レンタカーの手続きは空港内で行うことができ、ピックアップも徒歩5分程の場所で行えます。<br>
          さあ、空港内のカフェで暖かいコーヒーを買って冒険に出かけましょう。<br>
        </p>

         <img src="/assets/keflavik/Photo_by_Felix_on_Unsplash.jpg" class="spot-image">
      </div>
  </section>

<section id="second-block">
      <div class="spot-container">

         <ul>
            <li><img src="/assets/blue_lagoon/Photo_by_Balazs_Busznyak_on_Unsplash.jpg" class="spot2"></li>
            <li><img src="/assets/blue_lagoon/Photo_by_Frank_Denney_on_Unsplash.jpg" class="spot2"></li>
        </ul>

         <p class="spot-name">
           <span>ブルーラグーン<br>Blue Lagoon</span>
           <br>
           <br>
           空港から首都レイキャヴィークまでにある巨大温泉ブルーラグーン。<br>
           空港、レイキャヴィークからシャトルバスを利用することでアクセスできます。<br>
           長旅の疲れも一度温泉に浸かって一気に吹き飛びます。<br>
         </p>

     </div>
  </section>

<section id="third-block">
     <div class="spot-container">
     <p class="spot-name">
         <span>レイキャヴィーク<br>Reykjavík</span>
         <br>
         <br>
         空港から車で一時間程で到着する首都レイキャヴィーク。<br>
         人口33万人のうち、約90%の人々がレイキャヴィークに住んでいます。<br>
         レイキャヴィークでは宿泊や食事だけでなく、音楽や芸術も楽しむことができ、世界で唯一首都からオーロラを見ることができます。<br>
         <br>

       </p>
       <ul>
          <li><img src="/assets/reykjavík/Photo_by_Ji_Seongkwang_on_Unsplash.jpg" class="spot2"></li>
          <li><img src="/assets/reykjavík/church.jpg" class="spot2"></li>
      </ul>
     </div>
  </section>

<section id="forth-block">
      <div class="spot-container">
        <ul>
           <li><img src="/assets/golden_circle/Photo_by_Joey_Clover_on_Unsplash.jpg" class="spot2"></li>
           <li><img src="/assets/golden_circle/Photo_by_Peter_Gonzalez_on_Unsplash.jpg" class="spot2"></li>
        </ul>

         <p class="spot-name">
          <span>ゴールデンサークル<br>Golden Circle</span>
          <br>
          <br>
          ゴールデンサークルとは、アイスランドの名所であるシンクヴェトリル国立公園、グトルフォスの滝、ゲイシールの間欠泉を巡るルートの名称です。<br>
          首都レイキャヴィークからも近く、ツアーで巡ることができるので、レンタカーを借りない場合や短期滞在の観光にオススメです。<br>
          <br>
          <br>

        </p>
      </div>
</section>

<section id="fifth-block">
      <div class="spot-container">
      <p class="spot-name">
          <span>スコゥガフォス<br>Skógafoss</span>
          <br>
          <br>
          <br>
          首都レイキャヴィークからは車で2時間程度でアクセスできる名所スコゥガフォス。<br>
          階段を使えば滝の上まで登ることができ、間近で迫力満点の滝を楽しむことができます。<br>
          すぐそばではレストランや売店があるので、お昼休憩も兼ねてゆっくりと観光することができます。<br>

        </p>
        <ul>

           <li><img src="/assets/Skógafoss/IMG_2551.jpg" class="spot2"></li>
           <li><img src="/assets/Skógafoss/isuru-perera-413465-unsplash.jpg" class="spot2"></li>

       </ul>
      </div>
</section>

<section id="six-block">
             <div class="spot-container">
               <ul>
                  <li><img src="/assets/vik/Photo_by_Jared_Erondu_on_Unsplash.jpg" class="spot2"></li>
                  <li><img src="/assets/vik/Photo_by_Sam_Bark_on_Unsplash.jpg" class="spot2"></li>
               </ul>

                <p class="spot-name">
                  <span>ヴィーク<br>Vik</span>
                  <br>
                  <br>
                  アイスランド最南端の小さな街、ヴィーク。<br>
                  火山や氷河など迫力ある景色が広がっています。<br>
                  徒歩40分ほど歩く必要がありますが、海岸沿いに不時着した小型飛行機の残骸を見ることができます。<br>

                  <br>
                  <br>

               </p>
             </div>
</section>

<section id="seventh-block">
             <div class="spot-container">
             <p class="spot-name">
                 <span>氷の洞窟 アイスケーブ<br>Vatnajökull</span>
                 <br>
                 <br>
                 アイスランド東部にあるヴァトナヨークトル国立公園には火山活動でできたアイスランド<br>
                 最大の氷河であり、洞窟探検を行うことができます。<br>
                 洞窟探検は温度が高いと倒壊の恐れがあるため、シーズンが限られているため、<br>
                 冬にアイスランド旅行を計画している人にオススメです。<br>
                 <br>
                 <br>

               </p>
               <ul>
                  <li><img src="/assets/icecave/martin-robles-1206510-unsplash.jpg" class="spot2"></li>
                  <li><img src="/assets/icecave/akshay-nanavati-1394992-unsplash.jpg" class="spot2"></li>
              </ul>
             </div>
</section>

<section id="eigth-block">
             <div class="spot-container">
               <ul>
                  <li><img src="/assets/Seyðisfjörður/IMG_2787.jpg" class="spot2"></li>
                  <li><img src="/assets/Seyðisfjörður/road.jpg" class="spot2"></li>
               </ul>

                <p class="spot-name">
                  <span>セイジスフィヨルズル<br>Seyðisfjörður</span>
                  <br>
                  <br>
                  映画「LIFE! 人生が変わる」という映画をご存知でしょうか。
                  アイスランド東部の小さな町セイジスフィヨルズは、主人公のウォルターがスケボーで下り降りるシーンに起用されています。<br>
                  リングロードを旅する方は、かつて港町として栄えたこの町に立ち寄ってみてはいかがでしょうか。<br>
                <br>


                  <br>
                  <br>

               </p>
             </div>
</section>

<section id="nineth-block">
             <div class="spot-container">
             <p class="spot-name">
                 <span>アークレイリ<br>Akureyri</span>
                 <br>
                 <br>
                 アークレイリはアイスランドで2番目に大きい都市です。この町ではスキーや乗馬体験、ホエールウォッチングなど<br>
                　様々なアクティビティを体験することができます。 <br>
                また人口は2万人と、静かで町の光も少ない地域なのでオーロラ観察に最適な場所です。 <br>



               </p>
               <ul>
                 <li><img src="/assets/akureyri/lachlan-gowen-767487-unsplash.jpg" class="spot2"></li>
                 <li><img src="/assets/akureyri/ilse-orsel-717425-unsplash.jpg" class="spot2"></li>

             </ul>
             </div>
</section>

<section id="tenth-block">
             <div class="spot-container">
               <ul>
                  <li><img src="/assets/information/jonatan-pie-189473-unsplash (1).jpg" class="spot2"></li>
                  <li><img src="/assets/Hornstrandir/jolan-wathelet-1260152-unsplash.jpg" class="spot2"></li>
               </ul>

                <p class="spot-name">
                  <span>ホルンストランディル自然保護区<br>Hornstrandir Reserve</span>
                  <br>
                  <br>
                  アイスランドの中でも人里離れた場所、ホルンストランディル自然保護区。<br>
                  運が良ければホッキョクギツネやアザラシ、クジラを見ることができます。<br>
                  レンタカーでのアクセスは困難なので、イーサフィヨルズルという町からボートツアーで行くことがオススメです。<br>
                  <br>
                  <br>

                  <br>
                  <br>

               </p>
             </div>
</section>

<section id="eleventh-block">
             <div class="spot-container">
             <p class="spot-name">
                 <span>カークワフェル山<br>Kirkjufell Mountain</span>
                 <br>
                 <br>
                 螺旋状の形をした火山で、首都レイキャヴィークから車で2時間ほどでアクセスできます。<br>
                 運が良ければ虹やオーロラと一緒に見ることも。<br>
                 <br>
                 <br>

               </p>
               <ul>
                  <li><img src="/assets/Kirkjufell/joshua-earle-432605-unsplash.jpg" class="spot2"></li>
                  <li><img src="/assets/Kirkjufell/orlando-henriques-522030-unsplash.jpg" class="spot2"></li>
              </ul>
             </div>
</section>

             <footer>
            <p>Copyright © Yusuke Yoshitomi All Rights Reserved.</p>
            </footer>

  </section>
<!--   Second block End   -->
